{% render 'partials/head.liquid' %}

    <article>
        <div> {{ person.custom.svg }} </div>
        <img src="{{ person.avatar }}">
        <p> {{ person.birth.date }} </p>
        <a> {{ person.website }} </a>
        <p> {{ person.nickname }} </p>
        <p> {{ person.bio }} </p>
        <a> {{ person.custom.picture1 }} </a>
        <a class="hidden"> {{ person.custom.picture2 }} </a>
    </article>

    <video width="1920" height="1280" autoplay muted loop playsinline>
      <source src="" type="video/mp4">
          Your browser does not support the video tag.
    </video>

{% render 'partials/foot.liquid' %}
